
.sidenav-container {
  width: 100%;
 
 }
 
 .sidenav {
   width: auto;
    background: inherit;
 }
 
 .mat-toolbar.mat-primary {
   position: sticky;
   z-index: 1;
   background: #3a4a52;
 }
 mat-sidenav-content{
   height: 100%;
   width: auto;
   overflow: auto;
 }
 mat-sidenav-content::-webkit-scrollbar {
   width: 10px;
 }
 mat-sidenav-content::-webkit-scrollbar-thumb {
   border-radius: 10px;
   /* box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
   background-color: #A9A9A9;
   /* border: 1px solid #000; */
 
 }
.parent{
   height: 100%;
   width: 100%;
   overflow: hidden;
 }
