/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden; }


@font-face {
    font-family: 'roboto-regular';
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: 'roboto-bold';
    src: url(/assets/fonts/roboto/Roboto-Bold.ttf) format("truetype");
  }