.book-form{
    margin: 20px 50px 20px 50px;
}
.header-label{
    font-size: 25px;
    font-family: roboto-bold;
}
.add-button{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #0F9D58;
    color: white;
}
#preview{
    height: 40px;
    width: 30px;
}
.upload-cover-button{
    margin-left: 10px;
    margin-right: 10px;
    background-color:#4285F4;
    color: white;
}